<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </head>
    <body>
        <footer id="footer" > 
            <div class="container">
                <div id="social" class="btn-group btn-group-lg my-3" role="group" aria-label="footer">
                    <button id="icon" type="button" class="btn btn-secondary" >
                        <a href="https://github.com/" style="color: white;"><i class="fa fa-github-alt"></i></a></button>
                    <button id="icon" type="button" class="btn btn-secondary">
                        <a href="https://www.google.co.in/" style="color: white;"><i class="fa fa-google-plus"></i></a></button>
                    <button id="icon" type="button" class="btn btn-secondary">
                        <a href="https://twitter.com/login" style="color: white;"><i class="fa fa-twitter"></i></a></button>
                    <button id="icon" type="button" class="btn btn-secondary">
                        <a href="https://www.snapchat.com/" style="color: white;"><i class="fa fa-snapchat-ghost"></i></a></button>
                </div>
                 <!-- Address section -->
                 <div id="address" class="container">
                    <div class="row">
                        <div class="col-md-4  text-white ">
                            <h6 class="display-5 text-white" >
                                <i class="fa fa-phone"></i>
                                PHONE
                                </h6>
                            <p>(91+) 9876-5432-10</p>
                            <h6 class="display-5  text-white" >
                                <i class="fa fa-map-marker"></i>LOCATION</h6>
                            <p>409 E MAIN ST
                                NEW WASHINGTON, IN 
                                47612
                            </p>
                            <h6 class="display-12  text-white">
                                <i class="fa fa-clock-o"></i>WORKING HOURS:</h6>
                            <p>TIME:9am-6pm</p>
                            <h6 class="display-5  text-white" >
                                <i class="fa fa-envelope"></i>Email For Reference:</h6>
                            <p>aravdigango@mailme.com</p>
                        </div>
                    </div>
                </div>
            <!-- end of Address section -->
            </div>
        </footer>
    </body>
</html>
