<!DOCTYPE html>
<html lang="en">
<head>
    <title>Aravindhan Portfolio</title>
    
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<body>
    
    <!-- page container -->
    <div class="container">
        <!-- page-bg -->
        <div class="page-bg"></div>
        <!--  -->
        <!-- End of page-bg -->
        <!-- progress bar -->
        <a href="#" class="progress-bar center">
            <div class="half-circle"></div>
            <div class="half-circle"></div>
            <div class="half-circle-top"></div>
            <div class="progress-bar-circle center">&#8595;</div>
        </a>
        <!-- end of progress bar -->
        <!-- section 1 -->
        <section class="section-1 center">
            <!-- log  -->
            <!-- End of log  -->
            <!-- animated circle -->
            <div class="circles">
                <div class="circle circle-1">
                    <span routerLink="/home" id="circle-text">Home</span>
                </div>
                <div class="circle circle-2">
                    <span routerLink="/aboutme" id="circle-text">About Me</span>
                </div>
                <div class="circle circle-3">
                    <span routerLink="/contactme" id="circle-text">Contact Me</span>
                </div> 
                <div class="circle circle-4">
                    <span id="circle-text">Portfolio</span>
                </div>
            </div>
            <div class="main-circle center">
                
            </div>
            <!-- End of animated circle -->
            <!-- feature text -->
            <h4 class="featured-text featured-text1">Creative</h4>
            <h4 class="featured-text featured-text2">Designer</h4>
           <!-- end of feature text -->
           <h1 class="name">Hello! I AM ARAVINDHAN</h1>
           <!-- main button -->
           <a href="#" class="main-btn projects-btn">
            <div class="main-btn-content center">
                <div class="progress-bar-circle1 center ">&#8595;</div>
                <span>PUSH UP</span>
            </div>
           </a>
           <!-- end of main button -->
        </section>
        <!-- End of section 1 -->
        <!-- section 2 -->
        <section class="section-2">
            <!-- section heading -->
            <h1 class="section-2-heading">About Me </h1>
            <!-- end of section heading -->

            <!-- about me -->
            <p class="about-me-text">
                <span (mouseover)="aboutMe($event)" class="about-text">"I am a designer & I create awards winning websites with the best user experience and I love implement new styles in websites, just contact me.";
                </span>
            </p>
            
<!-- end of  about me -->
<!-- main button -->

   <!-- end of main button -->
        </section>
        
        <!-- end of section 2 -->
        <!-- section 3  -->
       
        <!-- end of section 3 -->
       
</div>
</body>
</html>
<app-about></app-about>
<app-footer></app-footer>